@import url('//db.onlinewebfonts.com/c/317a20a47d1860b049aeb1ff74501e42?family=Netflix+Font');

* {
    font-family: 'Helvetica Neue';
    z-index: 1;
}

body {
    margin: 0px;
    background-color: black;
}

.landing-page {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: radial-gradient(black, rgba(0, 0, 0, 0));
    border-bottom: 10px solid rgba(128, 128, 128, 0.26);
}

.background img {
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 800px;
    z-index: -1;
}

.black-shade-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    background: radial-gradient(rgba(0, 0, 0, 0), black);
    width: 100%;
    height: 800px;
    z-index: 0;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color:aliceblue
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 30px 0px 30px;
    box-sizing: border-box;
    z-index: 2;
}

.navbar .logo-original {
    height: 50px;
    object-fit: contain;
    cursor: pointer;
}

.navbar .signin {
    position: relative;
    padding: 10px 15px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-left: auto;
    border: 0px;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
}

.main-display {
    text-align: center;
    box-sizing: border-box;
    padding: 70px 45px;
}

.main-display .text-info {
    padding-top: 75px;
    max-width: 640px;
    margin: auto;
}

.text-info h1 {
    font-size: 55px;
    margin: 20px auto;
    font-weight: 500;
}

.text-info h5 {
    font-size: 30px;
    font-weight: 400;
    margin: 0px;
}

.get-started p {
    font-size: 20px;
    font-weight: 300;
}

#no-btn {
    max-width: 640px;
    margin: auto;
    padding: 20px 5%;
}

.enter-email {
    display: inline-flex;
    height: 60px;
}

.get-started input {
    width: 500px;
    height: 60px;
    padding: 0;
    border: 0;
}

.enter-email input {
    font-size: 18px;
    padding-left: 10px;
}

.get-started-btn {
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    height: 100%;
    border: 0;
    padding: 0px 26px;
    cursor: pointer;
}

.jumbotron {
    color: white;
    padding: 70px 45px;
    display: grid;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 10px solid rgba(128, 128, 128, 0.26);
    grid-template-columns: repeat(5, 1fr);
}

.text-info {
    padding-top: 0px;
    margin: auto 30px;
}

.media {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.j1 .text-info {
    grid-column: 1 / 4;
}


.j1 .media {
    width: 100%;
    grid-column: 4 / 6;
}

#jumbotron1 img {
    width: 100%;
    object-fit: contain;
    position: absolute;
    right: 0;
    display: inline-block;
    vertical-align: middle;
}

#jumbotron1 video {
    width: 73%;
    object-fit: contain;
    position: absolute;
    margin: auto;
    transform: translateY(-6px);
}

.j2 .text-info {
    grid-column: 3 / 6;
    grid-row: 1;
    margin-left: 50px;
}

.j2 .media {
    grid-column: 1 / 3;
}

#jumbotron2 img {
    width: 100%;
}

.media-part {
    width: 70%;
    height: 100px;
    border: 2px solid rgba(128, 128, 128, 0.822);
    display: flex;
    border-radius: 15px;
    position: absolute;
    padding: 10px;
    background-color: black;
    bottom: 0;
    box-sizing: border-box;
    box-shadow: 0 0 2em 0 #000;
}

#image {
    position: relative;
    padding: 0px 15px;
    height:100%;
    object-fit: contain;
}

#jumbotron2 .text {
    margin: auto 0px;
}

#jumbotron2 .text p {
    color: blue;
    margin: 0px;
}

#jumbotron2 .text h4 {
    margin: 0;
    font-size: 14px;
}

#gif {
    position: relative;
    height: 100%;
    padding: 12px 0px;
    object-fit: contain;
    box-sizing: border-box;
}



.j3 .text-info {
    grid-column: 1 / 4;
    grid-row: 1;
}

.j3 .media {
    grid-column: 4 / 6;
}

#jumbotron3 {
    position: relative;
    box-sizing: border-box;
}

#jumbotron3 img {
    width: 100%;
    object-fit: contain;
    z-index: 2;
}

#jumbotron3 video {
    position: absolute;
    width: 62%;
    object-fit: contain;
    z-index: 1;
    top: 11%;
    transform: translateY(-11px);
}

.j4 .text-info{
    grid-column: 3 / 6;
    z-index: 2;
}

.j4 .media {
    grid-column: 1 / 3;
    grid-row: 1;
    z-index: 1;
}

.FAQ {
    position: relative;
    padding: 45px 70px;
    text-align: center;
    color: white;
    border-bottom: 10px solid rgba(128, 128, 128, 0.26);
}

.FAQ h1 {
    font-size: 60px;
    font-weight: 500;
}

.grid-questions {
    position: relative;
    display: block;
    width: 80%;
    margin: auto;
}

.question-block {
    background-color: rgba(128, 128, 128, 0.363);
    padding: 0px 50px;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
}

.question-block i.close-btn {
    transform: rotateZ(135deg);
    transition: transform;
    transition-duration: 0.3s;
}

.question-block p {
    font-size: 28px;
    text-align: left;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 80px;
    margin: 0px;
}

.question-block i {
    scale: 1.5;
    cursor: pointer;
    transition-duration: 0.3s;
}

.populate-text {
    position: relative;
    text-align: left;
    background-color: rgba(128, 128, 128, 0.363);
    margin-top: 2px;
    font-size: 28px;
    padding: 5px 20px 25px 20px;
}

.dropdown-animation {
    animation-name: dropdown ;
    animation-duration: 0.3s;
}

@keyframes dropdown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.populate-text p {
    margin-bottom: 0px;
}


.populate-text.disabled {
    display: none;
}

.footer {
    color: rgba(128, 128, 128, 0.699);
    padding: 50px 80px;
}

.grid-items {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 13px;
}

.container {
    position: relative;
}

.container p:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* here we write the code to disable the default-page */
.default-page.disabled {
    display: none;
}


/* Now we move on to sign in page */
.sign-in-section {
    background-color: black;
    width: 450px;
    color: rgba(128, 128, 128, 0.822);
    margin: auto;
    padding: 80px;
    box-sizing: border-box;
    margin-top: 20px;
}

.sign-in-header {
    color: white;
    font-size: 30px;
}

.sign-in-header p {
    margin-top: 0px;
}

.sign-in-input-area {
    height: 50px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.26);
    border-radius: 5px;
    border: none;
    margin: 20px auto;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 15px;
    color: white;
}

.sign-in-btn {
    display: block;
    width: 100%;
    background-color: red;
    margin: 20px auto;
    border: none;
    color: white;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer
}

.sign-in-below-options {
    display: flex;
    margin: 20px 0px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.63);
}

.sign-in-below-options input {
    size: 25px;
    background-color: rgba(128, 128, 128, 0.822);
}

.sign-in-below-options label {
    margin: 0px 5px;
}

.sign-in-below-options p {
    position: relative;
    margin: 0px;
    margin-left: auto;
}

.facebook-login {
    height: 20px;
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
}

.facebook-login img {
    margin-right: 20px;
}

.facebook-login p {
    margin-top: 0px;
}

.new-to-netflix {
    display: flex;
    margin-bottom: 20px;
    font-size: 20px;
}

.sign-up {
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.712);
    cursor: pointer;
}

.sign-up:hover {
    text-decoration: underline;
}

.captcha {
    display: flex;
}

.captcha a {
    text-decoration: none;
    color: blue;
}


/* Now we start to develop the showcase movies section */
.header {
    position: relative;
    top: 0;
    left: 0;
    height: fit-content;
}

.showcase-bg {
    position: relative;
    width: 100%;
    z-index: -1;
}

.showcase-bg img {
    position: relative;
    object-fit: contain;
    width: 100%;
    z-index: 1;
}

.showcase-main-content {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.showcase-content {
    z-index: 3;
    color: white;
    max-width: 50%;
    bottom: 50px;
    margin-left: 80px;
    margin-top: 10%;
}

.play-button {
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: white;
    cursor: pointer;
}

.movies-slide {
    position: relative;
    margin: 30px;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.movies-slide h5 {
    color: white;
    font-size: 20px;
    margin: 30px 0px 10px 20px;
}

.movies-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    box-sizing: border-box;
}

.movies-list img {
    width: 100%;
    min-width: 140px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 5px;
    overflow-x: scroll;
    transition: 0.3s;
}

.movies-list img:hover {
    width: 100% +10px;
    height: auto;
    scale: 1.1;
    z-index: 10;
    border-radius: 5px;
}

.enlarged-card-section {
    position: relative;
    display: flex;
    height: 40vh;
    margin: 5px auto;
}

.card-text-info {
    position: relative;
    color: white;
    z-index: 2;
    width: 40%
}

.enlarged-card-section img {
    position: absolute;
    right:0;
    height: 100%;
    max-width: 140%;
    object-fit: cover;
}







@media screen and (max-width: 500px) {
    .get-started input {
        width: 80%;
        height: 48px;
    }

    .main-display .text-info {
        padding: 0px;
    }

    h1 {
        font-size: 38px !important;
    }

    h5 {
        font-size: 25px !important;
    }

    p {
        font-size: 10px !important;
    }

    .card-text-info {
        width: 80%;
    }


}

@media screen and (max-width: 865px) {
    .sign-in-page .background {
        visibility: hidden;
    }

    .sign-in-page .navbar img {
        scale: 0.6;
        position: absolute;
        top: 20px;
        left: 0px;
    }

    .sign-in-section {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid rgba(128, 128, 128, 0.822);
    }

    .showcase-movies .navbar img {
        scale: 0.6;
    }

    .showcase-content {
        margin-top: 0px;
        max-width: 80%;
    }

    .card-text-info {
        width: 60%;
    }
}

@media screen and (max-width: 1090px) {

    .enter-email {
        box-sizing: border-box;
        display: block;
        margin: auto;
        height: 116px;
    }

    .get-started-btn {
        height: 40%;
        display: flex;
        align-items: center;
        margin: auto;
        padding: 10px;
        justify-content:space-between;
        margin-top: 15px;
    }

    .jumbotron {
        position: relative;
        display: block;
        text-align: center;
        box-sizing: border-box;
    }

    .jumbotron .text-info {
        margin: 0px auto;
        width: 100%;
    }

    .media {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        max-width: 600px;
        margin: 40px auto;
    }

    #jumbotron1 img {
        position: relative;
    }

    #jumbotron1 video {
        position: absolute;
    }

    .FAQ p {
        font-size: 20px;
    }

    .grid-questions {
        width: 100%;
    }

    .question-block {
        line-height: 25px;
    }

    
    
    
}

.disabled {
    display: none;
}